.tasks {
    max-width: 60vw;

    /* flex display properties are in Reusables.css */
    gap: 2vw;
}

.tasks-name {
    max-width: 60vw;
}

.uncomplete-task-bg-color {
    background-color: none;
}

.completed-task-bg-color {
    background-color: rgb(0, 255, 123);
}